body {
	font-family: helvetica, arial, sans-serif; margin: 16px;
}
#calculator { background: #ccc; padding: 16px; width: 462px; text-align: center; border: 3px solid black}

#calculator h1 { font-size: large; font-family: helvetica, arial, sans-serif; }

.calculator_row { margin-bottom: 8px;}
.calculator_row button { font-size: xx-large; padding: 10px; width: 100px; background: #eee; border: 2px solid black; font-family: ocr-a, consolas, monospaced; font-weight: bold; margin: 5px;}

button.meta { background: red; color: white;}
button.function { background: darkblue; color: white;}
button:active { background: orange; color: black;}

button.cursor { background: yellow; color: black;}

#number_input { font-size: xx-large; font-family: ocr-a, consolas, monospaced; background: azure; padding: 8px; text-align: right; width: 416px; font-weight: bold; border: 2px solid black; height: 50px; }

label {
	display: inline-block; width: 50px; font-weight: bold;
}

#settings {
	border: 1px solid black;
	padding: 10px;
}